# PostgreSQL Database URL
DATABASE_URL=

# Server Port
PORT=

# === BetterAuth Configuration ===
# BetterAuth 'me' endpoint for token validation
BETTER_AUTH_ME_URL=

# Secret token for securing webhook endpoints
BETTER_AUTH_WEBHOOK_SECRET=